@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "satoshi-Rg";
    src: url("./assets/fonts/OTF/Satoshi-Regular.otf");
}

@font-face {
    font-family: "satoshi-Md";
    src: url("./assets/fonts/OTF/Satoshi-Medium.otf");
}

@font-face {
    font-family: "satoshi-Bold";
    src: url("./assets/fonts/OTF/Satoshi-Bold.otf");
}
@font-face {
    font-family: "outfit-Bold";
    src: url("./assets/fonts/OTF/Outfit-Bold.otf");
}
@font-face {
    font-family: "outfit-Md";
    src: url("./assets/fonts/OTF/Outfit-Medium.otf");
}

.scene{
    position: absolute;
}
body::-webkit-scrollbar {
    display: none;
}
